body {
  margin: 0;
}

#app-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.account-container {
  width: auto;
  right: 25px;
  float: right;
  border: 1px solid black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}

#account {
  text-align: center;
  background-color:  burlywood;
  background-image: -webkit-linear-gradient(top, #d5a66d, #f5a66a);
  background-image: linear-gradient(to bottom, #d5a66d, #f5a66a);
  border-color: black;
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 4px;
  width: 75%;
}

.column {
  float: left;
  width: 33%;
}

#contribution {
  text-align: center;
  background-color:  burlywood;
  background-image: -webkit-linear-gradient(top, #d5a66d, #f5a66a);
  background-image: linear-gradient(to bottom, #d5a66d, #f5a66a);
  border-color: black;
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 4px;
  width: 75%;
}

.btn {
  border: none;
  background-color: burlywood;
  padding: 10px 20px;
  color: white;
  outline: none;
  cursor: pointer;
  transition: all ease 0.2s;
}
.btn:hover {
  background-color: black;
  transform: translateY(-2px);
  box-shadow: 0px 1px 5px 0px black;
}
.btn:active {
  transform: translateY(2px)
}

.login-conatiner {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
  border-radius: 5px;
}

#signup-btn {
  margin: 20px auto;
  clear: both;
  display: block;
  width: 100px;}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .column {
  width: 32%;
}

.header-container {
  padding: 10px;
  background-color: burlywood;
  color: white;
}

.header-container-logged-in {
  padding: 1px;
  background-color: burlywood;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-button {
  background-color: #1a476a;
  background-image: -webkit-linear-gradient(top, #29618e, #164a74);
  background-image: linear-gradient(to bottom, #29618e, #164a74);
  border-color: #1a476a;
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 4px;
}

#nav-buttons {
  display: inline-block;
  padding: 3px;

}

.transaction-btn {
  background-color: #1a476a;
  background-image: -webkit-linear-gradient(top, #29618e, #164a74);
  background-image: linear-gradient(to bottom, #29618e, #164a74);
  border-color: #1a476a;
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 4px;
}

.logo-img {
  width: 20%;
  height: auto;
}

.logo-img-logged-in {
  left: 0;
  position: absolute;
  margin: 0 0 0 25px;
  width: 45px;
  height: auto;
}

.transaction-container {
  float: left;
  position: absolute;
  width: 33%;
  display: inline-block;
  border: 1px solid black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}

.transaction {
    text-align: center;
    background-color:  burlywood;
    background-image: -webkit-linear-gradient(top, #d5a66d, #f5a66a);
    background-image: linear-gradient(to bottom, #d5a66d, #f5a66a);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 4px;
    width: 75%;
}

.weekly-container {
  right: 0px;
  width: 33%;
  display: inline-block;
  border: 1px solid black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}

@media screen and (max-width: 600px) {
  .column {
      width: 100%;
  }
}
